{% extends "layout.html" %}
{% block body %}
	<!-- [ CONTAINER ] -->
	<div id="container" class="group">
	<!-- [ BLOCK BUTTONS ] -->
	<div id="blockButtons">

	<div id="stickArea">
	<div id="stick" class="touchButton"></div>
	<!-- /#stickArea --></div>

	<div id="ABbuttonArea">
	<div id="Abutton" class="touchButton"></div>
	<div id="Bbutton" class="touchButton"></div>
	<!-- /#ABbuttonArea --></div>

	<div id="startButton" class="touchButton"></div> 

	<!-- /#blockButtons --></div>
	<!-- / [ BLOCK BUTTONS ] -->


	<!-- /#container --></div> 
	<!-- / [ CONTAINER ] -->

	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery_binary.js') }}"></script>	
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
	<div id="blockImage">
	<img id="mystream" src="{{ url_for('static', filename='img/iis-8.png') }}">
	</div>
{% endblock %}