<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>Kids car Controller</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="style.css" media="screen" type="text/css" />
</head>
<body>

<!-- [ CONTAINER ] -->
<div id="container" class="group">

<!-- [ BLOCK BUTTONS ] -->
<div id="blockButtons">

<div id="stickArea">
<div id="stick" class="touchButton"></div>
<!-- /#stickArea --></div>

<div id="ABbuttonArea">
<div id="Abutton" class="touchButton"></div>
<div id="Bbutton" class="touchButton"></div>
<!-- /#ABbuttonArea --></div>

<div id="startButton" class="touchButton"></div> 

<!-- /#blockButtons --></div>
<!-- / [ BLOCK BUTTONS ] -->


<!-- /#container --></div> 
<!-- / [ CONTAINER ] -->


<script type="text/javascript" src="js/lib/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
